.header {
    background-color: mediumaquamarine;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

.nav {
    padding: 10px;
    background-color: lightseagreen;
}

.nav-body {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 2 0;
    padding: 10px;
    background-color: aquamarine;
}

.alt {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 10px;
    background-color: darkcyan;
}