.header {
    background-color: mediumaquamarine;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

.nav {
    padding: 10px;
    background-color: lightseagreen;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.navHost {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.nav-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 2 0;
    padding: 10px;
    background-color: aquamarine;
    position: relative;
    overflow: hidden;
}

.mainHost {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.alt {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 10px;
    background-color: darkcyan;
    position: relative;
    overflow: hidden;
}

.altHost {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}